In [1]:
ls

DataCleaning.pdf
DataCleaning.pptx
DataFrames.pdf
DataFrames.pptx
doglicenses.csv
log_licenses_extrapractice.ipynb
module 4 -- data frame-Copy1.ipynb*
module 5 -- cleaning and summary stats.ipynb*

data from here:
https://data.wprdc.org/dataset/ad5bd3d6-1b53-4ed0-8cd9-157a985bd0bd/resource/f8ab32f7-44c7-43ca-98bf-c1b444724598/download/2099.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("doglicenses.csv")

In [4]:
df.shape

(30899, 7)

In [5]:
df.describe()

       ExpYear
count  30899.0
mean    2099.0
std        0.0
min     2099.0
25%     2099.0
50%     2099.0
75%     2099.0
max     2099.0

In [6]:
df.columns

Index(['LicenseType', 'Breed', 'Color', 'DogName', 'OwnerZip', 'ExpYear',
       'ValidDate'],
      dtype='object')

In [28]:
df.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Neutered Male,MIXED,WHITE/BLACK,BUDDY,15140,2099,5/27/2009 14:44
1,Dog Lifetime Spayed Female,GER SHORTHAIR POINT,SPOTTED,CABELA,15236,2099,6/23/2009 15:31
2,Dog Lifetime Male,BEAGLE MIX,BLACK/BROWN,WATSON,15106,2099,6/15/2011 13:37
3,Dog Lifetime Neutered Male,LABRADOR RETRIEVER,YELLOW,WINSTON,15120,2099,10/18/2019 12:43
4,Dog Senior Lifetime Spayed Female,BORD COLLIE MIX,WHITE/BLACK,SADIE,15227,2099,6/5/2018 12:39

In [8]:
df['LicenseType'].head()

0           Dog Lifetime Neutered Male
1           Dog Lifetime Spayed Female
2                    Dog Lifetime Male
3           Dog Lifetime Neutered Male
4    Dog Senior Lifetime Spayed Female
Name: LicenseType, dtype: object

In [9]:
df['LicenseType'].value_counts()

Dog Lifetime Spayed Female               11953
Dog Lifetime Neutered Male               10971
Dog Senior Lifetime Spayed Female         2348
Dog Senior Lifetime Neutered Male         1793
Dog Lifetime Duplicate                    1242
Dog Lifetime Male                         1061
Dog Lifetime Female                        649
Dog Out of County Transfer - Lifetime      336
Dog Senior Lifetime Male                   240
Dog Senior Lifetime Female                 194
Dog Inter County Transfer - Lifetime       112
Name: LicenseType, dtype: int64

In [10]:
# if we wanted to save the result, not just show on screen
# df['Percent_LicenseTypes'] = df['LicenseType'].value_counts() / len(df)

df['LicenseType'].value_counts() / len(df)

Dog Lifetime Spayed Female               0.386841
Dog Lifetime Neutered Male               0.355060
Dog Senior Lifetime Spayed Female        0.075990
Dog Senior Lifetime Neutered Male        0.058028
Dog Lifetime Duplicate                   0.040195
Dog Lifetime Male                        0.034338
Dog Lifetime Female                      0.021004
Dog Out of County Transfer - Lifetime    0.010874
Dog Senior Lifetime Male                 0.007767
Dog Senior Lifetime Female               0.006279
Dog Inter County Transfer - Lifetime     0.003625
Name: LicenseType, dtype: float64

In [29]:
percentages = (df['LicenseType'].value_counts() / len(df)*100)
# percentages is a Series object
percentages.apply(lambda x: '{:.2f}%'.format(x))

Dog Lifetime Spayed Female               38.68%
Dog Lifetime Neutered Male               35.51%
Dog Senior Lifetime Spayed Female         7.60%
Dog Senior Lifetime Neutered Male         5.80%
Dog Lifetime Duplicate                    4.02%
Dog Lifetime Male                         3.43%
Dog Lifetime Female                       2.10%
Dog Out of County Transfer - Lifetime     1.09%
Dog Senior Lifetime Male                  0.78%
Dog Senior Lifetime Female                0.63%
Dog Inter County Transfer - Lifetime      0.36%
Name: LicenseType, dtype: object

In [12]:
(df['LicenseType'] == 'Dog Lifetime Duplicate').head()

0    False
1    False
2    False
3    False
4    False
Name: LicenseType, dtype: bool

In [15]:
(df['LicenseType'] == 'Dog Lifetime Duplicate').value_counts()

False    29657
True      1242
Name: LicenseType, dtype: int64

In [16]:
(df['LicenseType'] == 'Dog Lifetime Duplicate').value_counts()/len(df)

False    0.959805
True     0.040195
Name: LicenseType, dtype: float64

In [18]:
(df['LicenseType'] == 'Dog Lifetime Duplicate').mean()

0.04019547558173404

In [20]:
df[df['LicenseType'] == 'Dog Lifetime Duplicate'].count()

LicenseType    1242
Breed          1242
Color          1242
DogName        1242
OwnerZip       1242
ExpYear        1242
ValidDate      1206
dtype: int64

In [21]:
len(df[df['LicenseType'] == 'Dog Lifetime Duplicate'])

1242

In [25]:
df[df['LicenseType'] == 'Dog Lifetime Duplicate'].isna().head()

     LicenseType  Breed  Color  DogName  OwnerZip  ExpYear  ValidDate
6          False  False  False    False     False    False      False
11         False  False  False    False     False    False      False
72         False  False  False    False     False    False      False
111        False  False  False    False     False    False      False
117        False  False  False    False     False    False      False

In [26]:
df[df['LicenseType'] == 'Dog Lifetime Duplicate'].isna().sum()

LicenseType     0
Breed           0
Color           0
DogName         0
OwnerZip        0
ExpYear         0
ValidDate      36
dtype: int64

In [32]:
print(df.shape)
df.head()

(30899, 7)

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Neutered Male,MIXED,WHITE/BLACK,BUDDY,15140,2099,5/27/2009 14:44
1,Dog Lifetime Spayed Female,GER SHORTHAIR POINT,SPOTTED,CABELA,15236,2099,6/23/2009 15:31
2,Dog Lifetime Male,BEAGLE MIX,BLACK/BROWN,WATSON,15106,2099,6/15/2011 13:37
3,Dog Lifetime Neutered Male,LABRADOR RETRIEVER,YELLOW,WINSTON,15120,2099,10/18/2019 12:43
4,Dog Senior Lifetime Spayed Female,BORD COLLIE MIX,WHITE/BLACK,SADIE,15227,2099,6/5/2018 12:39