# Midterm Practice

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
<li>You answer is composed of more than one output, unless explicitly permitted
</ul>

## Execute this code to read the data

In [1]:
import pandas as pd
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

df = pd.read_csv('pizzas.csv',index_col=0)
df['pizza_description'].fillna('',inplace=True)
df['restaurant_zipcode'].fillna('',inplace=True)

In [2]:
df.head(20)

,restaurant_id,restaurant_city,restaurant_zipcode,restaurant_province,pizza_id,pizza_price,pizza_name,pizza_description
0,AVwc_6KEIN2L1WUfrKAH,Bend,97701,OR,0,15.50,Bianca Pizza,
1,AVwc_6KEIN2L1WUfrKAH,Bend,97701,OR,1,18.95,Cheese Pizza,
2,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,2,12.00,"Pizza, Margherita",
3,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,3,13.00,"Pizza, Mushroom",
4,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,4,13.00,"Pizza, Puttenesca","Olives, onions, capers, tomatoes"
5,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,5,15.00,"Pizza, Salami Piccante",
6,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,6,15.00,"Pizza, White Truffle Meat Sauce",
7,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,7,7.99,Cheese Pizza,Choose a pizza size.
8,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,8,7.99,Hawaiian Pizza,"Canadian bacon, pineapple."
9,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,9,11.99,Meat Lover Pizza,
10,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,10,5.99,Pizza Sub,
11,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,11,5.99,Super Pizza Sub,
12,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,12,10.99,Veggie Pizza,
13,AVwc_8WAByjofQCxkdDA,Houston,77003,TX,13,9.95,Create Your Own Pizza,Choose any of your own toppings to make it you...
14,AVwc_abAIN2L1WUfrEps,Hyannis,2601,MA,14,8.95,Cheese Pizza,
15,AVwc_abAIN2L1WUfrEps,Hyannis,2601,MA,15,10.95,Pepperoni Pizza,
16,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,16,NaN,House Made Pizza,
17,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,17,15.71,Mexican Pizza Dip,Seven layer bean dip
18,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,18,NaN,Pepperoni Pizza,1 each (324.00 g)
19,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,19,NaN,Pizza Bagel,1 each (149.18 g)

In [3]:
df.isna().any()

restaurant_id          False
restaurant_city        False
restaurant_zipcode     False
restaurant_province    False
pizza_id               False
pizza_price             True
pizza_name             False
pizza_description      False
dtype: bool

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Data columns (total 8 columns):
restaurant_id          3510 non-null object
restaurant_city        3510 non-null object
restaurant_zipcode     3510 non-null object
restaurant_province    3510 non-null object
pizza_id               3510 non-null int64
pizza_price            2948 non-null float64
pizza_name             3510 non-null object
pizza_description      3510 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 246.8+ KB

## Data Description

The data set reports information on menus of <b>pizzas made by restaurants</b> around the world. <br/>
The data frame df has <b>several rows for each restaurant</b> -- each row corresponds to one pizza on the menu of a certain restaurant. For example, from the table above, the first restaurant (restaurant_id AVwc_6KEIN2L1WUfrKAH) has two pizzas on the menu (i.e., two rows on the table), called "Bianca Pizza" and "Cheese Pizza". The second restaurant (AVwc_6qRByjofQCxkcxw) has five pizzas on the menu.<br/>
#### Columns:
<ul>
<li><b>restaurant_id</b>: identifier of a restaurant
<li><b>restaurant_city</b>: city of the restaurant
<li><b>restaurant_zipcode</b>: zipcode of the restaurant
<li><b>restaurant_province</b>: the province, state, or area of a restaurant
<li><b>pizza_id</b>: the identifier (unique throughout the data frame) of a pizza sold at a certain restaurant
<li><b>pizza_price</b>: the price of the pizza 
<li><b>pizza_name</b>: the name of the pizza
<li><b>pizza_description</b>: the pizza description
</ul>

#### Question 1

How many pizzas are in the menu of restaurant_id AVwcr6qqByjofQCxhENy?

In [5]:
len(df[df.restaurant_id=='AVwcr6qqByjofQCxhENy'])

3

#### Question 2

How many pizzas cost less than or equal to \$2 ?


How many pizzas cost more than \$20 (\$20 excluded)?

In [6]:
(df.pizza_price <=2).sum()

82

In [7]:
(df.pizza_price >20).sum()

159

#### Question 3

In which city you can use $0.99(exactly) to buy a pizza ? 

In which city you can buy the most expensive pizza? 

<u>Both question assume no ties. Return just one string with the city name (not a Series or a DataFrame).</u>

In [8]:
df[df.pizza_price==0.99].restaurant_city.values[0]

'Milford'

Most expensive pizza:

In [9]:
df[df.pizza_price==df.pizza_price.nlargest(1).values[0]].\
    restaurant_city.values[0]

'New York'

#### Question 4

For each province, report the number of restaurants that sell at least one pizza for $100 or more. Report only the provinces with non zero count.

In [10]:
df[df.pizza_price >= 100].groupby('restaurant_province')\
    ['restaurant_province'].size()

restaurant_province
Country Life Acres       1
NY                       1
Nyc                      1
TX                       1
VA                       1
Village Of Wellington    1
Name: restaurant_province, dtype: int64

#### Question 5

How many restaurants are located in the largest (i.e, maximum) zipcode? <u>You must return only one number</u>

In [11]:
len(df[df.restaurant_zipcode==df.restaurant_zipcode.max()])

1

#### Question 6

The same pizza_name may be used in many restaurants. Find the top 5 most popular pizza_names in descending order.

In [12]:
df.groupby('pizza_name')['pizza_name'].\
        size().nlargest(5)

pizza_name
Cheese Pizza        136
White Pizza          75
Margherita Pizza     63
Pizza                62
Hawaiian Pizza       54
Name: pizza_name, dtype: int64

#### Question 7

Find how many <u>distinct</u> pizza_names are sold in locations whose zipcode starts with "95". <i>Hint</i>: Series.unique() find the list of unique values in a Series.

In [13]:
df_95 = df[df.restaurant_zipcode.\
        apply(lambda x: True if x.startswith('95') else False)]

In [14]:
len(df_95.pizza_name.unique())

33

#### Question 8

The same pizza_name may appear in different cities. For each pizza_name, find the city with that pizza_name appears most times in different restaurants. List the top 5 most commonly appear pizza names together with their city name.

In [15]:
df.groupby(['pizza_name','restaurant_city'])['pizza_name'].\
    count().nlargest(5)

pizza_name             restaurant_city
Pizza Steak            Philadelphia       8
Margherita Pizza       New York           7
Pizza Fries            Philadelphia       7
Pizza Burger           Philadelphia       6
Buffalo Chicken Pizza  Philadelphia       4
Name: pizza_name, dtype: int64

#### Question 9

Let us define "average pizza price of a city" as the average price of all pizzas sold in that city. Find the cities whose average pizza price is at least $20 higher than the average pizza price (computed throughout the whole data set). Report both the city and its average pizza price.

In [16]:
s_avg = df.groupby('restaurant_city')['pizza_price'].mean()

In [17]:
s_avg.head()

restaurant_city
Abington     9.120588
Addison      5.276667
Akron       15.000000
Alachua      7.913333
Alameda      9.906667
Name: pizza_price, dtype: float64

In [18]:
s_avg[s_avg > df.pizza_price.mean() + 20]

restaurant_city
Henrico       40.09
Hollywood     69.95
Wellington    65.64
Name: pizza_price, dtype: float64

#### Question 10

<p>The same pizza_name may be used in many restaurants, and may be sold for different prices. For a given pizza_name, let us define <i>spread</i> as the difference between the maximum and minimum price at which that pizza is sold. What are the <b>five</b> pizza names with the widest spread? Report both the pizza names and the spreads.</p>

In [19]:
df_spread = df.groupby('pizza_name')['pizza_price'].agg(['min','max']).\
    rename(columns={'min':'min_price','max':'max_price'})

In [20]:
df_spread['spread'] = df_spread.max_price - df_spread.min_price
df_spread['spread'].nlargest(5)

pizza_name
Pizza                115.74
Steak Pizzaiola       80.00
Hawaiian Pizza        33.00
Bbq Chicken Pizza     30.00
Taco Pizza            23.26
Name: spread, dtype: float64

**Note:** Or ..

In [21]:
df.groupby('pizza_name')['pizza_price'].agg(\
                        lambda x: x.max() - x.min() ).nlargest(5)

pizza_name
Pizza                115.74
Steak Pizzaiola       80.00
Hawaiian Pizza        33.00
Bbq Chicken Pizza     30.00
Taco Pizza            23.26
Name: pizza_price, dtype: float64

#### Question 11

<p>The original Margherita pizza does NOT contain garlic. The purpose of this problem is to analyze which provinces violate the original recipe most.</p>
<p>For each province, find the proportion of Margherita pizzas that contain garlic (i.e., among all Margherita pizzas, the proportion that contain garlic), <u>sorted by decreasing proportion</u>.</p>
<p>Your code must return one entry for each province that sells Margherita pizzas. To identify Margherita pizzas, you must check whether pizza_name contains the word 'Margherita' (or 'margherita'); to identify whether a pizza contains garlic, you must check whether pizza_description contains the word 'garlic' (or 'Garlic'). 
    
<p><i>Hint 1</i>: make a copy of the original data frame before solving this problem.</p>
<i>Hint 2</i>: use .lower() inside lambda function</p>

In [22]:
# Retrieve only the rows of Margherita pizzas
df_marg = df[df.pizza_name.apply(lambda s : \
                True if 'margherita' in s.lower() else False)].copy()
df_marg.head()

,restaurant_id,restaurant_city,restaurant_zipcode,restaurant_province,pizza_id,pizza_price,pizza_name,pizza_description
2,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,2,12.00,"Pizza, Margherita",
21,AVwc_h3pkufWRAb51LOO,Chicago,60611,Ontario Street,21,10.99,Pizza Margherita,
22,AVwc_h3pkufWRAb51LOO,Chicago,60611,Ontario Street,22,10.99,Pizza Margherita,
69,AVwc0thDkufWRAb5zaBV,Omaha,68154,NE,69,NaN,Margherita Pizza,Fresh mozzarella and basil
75,AVwc0Wtp_7pvs4fzzSbm,Westminster,21157,MD,75,9.00,Margherita Pizza,

In [23]:
# add a column 'garlic' with 1 if the description includes garlic
df_marg['garlic'] = df_marg.pizza_description.apply(lambda s :\
                        1.0 if 'garlic' in s.lower() else 0.0)
df_marg[df_marg.garlic!=0.0]

,restaurant_id,restaurant_city,restaurant_zipcode,restaurant_province,pizza_id,pizza_price,pizza_name,pizza_description,garlic
500,AVwchtud_7pvs4fzwECD,New York,10003,Manhattan,500,16.95,Vegan Margherita Pizza,"Tomato, Basil, Garlic, Daiya Cheese",1.0
629,AVwckjoOIN2L1WUfmdJP,Clifton Park,12065,Elnora,629,15.25,Margherita Pizza,"Fresh tomatoes, fresh mozzarella, garlic, and ...",1.0
734,AVwcl691kufWRAb5w4-V,Yucaipa,92399,CA,734,16.53,Margherita Pizza,"Olive oil, italian seasonings, garlic, tomatoe...",1.0
1331,AVwcy1TPByjofQCxiQcc,Orlando,32819,FL,1331,15.00,Margherita Pizza,"Marinated cherry tomato, buffalo mozzarella, p...",1.0
1660,AVwdA0k7kufWRAb51Y2H,Modesto,95354,CA,1660,13.00,Flat Bread Pizza Margherita,"Sliced roma tomatoes, fresh mozzarella, basil,...",1.0
1757,AVwdbNQ8kufWRAb55xPP,Lake Forest,92630,CA,1757,8.99,Margherita Pizza,"Fresh basil, fresh garlic, fresh tomatoes and ...",1.0
1813,AVwdcwUykufWRAb56CJT,Milwaukee,53226,WI,1813,11.25,Margherita Pizza,"roma tomatoes, garlic oil, fresh basil, mozzar...",1.0
2016,AVwdEIrn_7pvs4fz15Ex,Vernon Rockville,6066,Rockville,2016,10.50,Margherita Pizza,"Fresh mozzarella, fresh basil, fresh garlic, t...",1.0
2252,AVwdIp-7kufWRAb52pf6,Boston,2127,MA,2252,10.00,Margherita Pizza,"house made tomato sauce, fresh mozzarella, cho...",1.0
2452,AVwdLKuFIN2L1WUfs-tY,Prescott,86301,AZ,2452,NaN,Pizza Margherita,"White Style (olive oil, minced garlic, salt an...",1.0
3061,AVwdylBpIN2L1WUfzPbl,Tempe,85281,AZ,3061,14.95,Margherita Pizza,"Roma and cherry tomatoes, roasted garlic, extr...",1.0
3448,AVweSA7V_7pvs4fzBnuz,New Haven,6513,Fair Haven,3448,9.95,Margherita Gourmet Pizza,"Sliced tomato, garlic, basil",1.0

In [24]:
s_garlic = df_marg.groupby('restaurant_province')['garlic'].mean().\
        sort_values(ascending=False)

In [25]:
s_garlic

restaurant_province
Elnora                          1.000000
Fair Haven                      1.000000
WI                              1.000000
Rockville                       1.000000
CA                              0.375000
AZ                              0.333333
MA                              0.333333
Manhattan                       0.166667
FL                              0.166667
KS                              0.000000
Kingsgate                       0.000000
Lawrenceville                   0.000000
Woodbury                        0.000000
IL                              0.000000
MD                              0.000000
MI                              0.000000
MN                              0.000000
IN                              0.000000
GA                              0.000000
Htfd                            0.000000
Hono                            0.000000
Guilford Courthouse National    0.000000
G P O                           0.000000
East Htfd                       0.000000
Brentwood                       0.000000
Bicentennial                    0.000000
AR                              0.000000
MT                              0.000000
Miami                           0.000000
Margate                         0.000000
Wedgwood                        0.000000
Wankers Corners                 0.000000
Valley View                     0.000000
TX                              0.000000
TN                              0.000000
Strawberry Point                0.000000
Ssf                             0.000000
SD                              0.000000
SC                              0.000000
PA                              0.000000
Ontario Street                  0.000000
Olivenhain                      0.000000
OR                              0.000000
OH                              0.000000
Nyc                             0.000000
North White Plains              0.000000
No Bethesda                     0.000000
NY                              0.000000
NV                              0.000000
NJ                              0.000000
NH                              0.000000
NE                              0.000000
NC                              0.000000
Mphs                            0.000000
AL                              0.000000
Name: garlic, dtype: float64

If we only want to show rows that are not 0

In [26]:
s_garlic[s_garlic.values != 0]

restaurant_province
Elnora        1.000000
Fair Haven    1.000000
WI            1.000000
Rockville     1.000000
CA            0.375000
AZ            0.333333
MA            0.333333
Manhattan     0.166667
FL            0.166667
Name: garlic, dtype: float64